In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("player_mvp_stats.csv")

In [3]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,22.0,LAL,82.0,1.0,18.8,2.5,4.7,...,0.0,0.000,Los Angeles Lakers,62.0,20.0,0.756,0.0,117.3,109.5,6.84
1,1,Byron Scott,SG,24.0,LAL,76.0,62.0,28.8,6.7,13.0,...,0.0,0.000,Los Angeles Lakers,62.0,20.0,0.756,0.0,117.3,109.5,6.84
2,2,James Worthy,SF,24.0,LAL,75.0,73.0,32.7,8.4,14.5,...,780.0,0.009,Los Angeles Lakers,62.0,20.0,0.756,0.0,117.3,109.5,6.84
3,3,Jerome Henderson,C,26.0,LAL,1.0,0.0,3.0,2.0,3.0,...,0.0,0.000,Los Angeles Lakers,62.0,20.0,0.756,0.0,117.3,109.5,6.84
4,4,Kareem Abdul-Jabbar,C,38.0,LAL,79.0,79.0,33.3,9.6,16.9,...,780.0,0.173,Los Angeles Lakers,62.0,20.0,0.756,0.0,117.3,109.5,6.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17635,17635,Paul Griffin,C,26.0,SAS,82.0,NaN,22.1,2.1,3.8,...,0.0,0.000,San Antonio Spurs,41.0,41.0,0.500,9.0,119.4,119.7,-0.24
17636,17636,Sylvester Norris,C,22.0,SAS,17.0,NaN,11.1,1.1,2.5,...,0.0,0.000,San Antonio Spurs,41.0,41.0,0.500,9.0,119.4,119.7,-0.24
17637,17637,Tim Bassett,PF,28.0,SAS,12.0,NaN,13.7,1.0,2.8,...,0.0,0.000,San Antonio Spurs,41.0,41.0,0.500,9.0,119.4,119.7,-0.24
17638,17638,Wiley Peck,SF,22.0,SAS,52.0,NaN,12.1,1.4,3.3,...,0.0,0.000,San Antonio Spurs,41.0,41.0,0.500,9.0,119.4,119.7,-0.24
17639,17639,George Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,0.004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
del stats["Unnamed: 0"]

In [9]:
stats.drop(17639,axis=0,inplace=True)

In [11]:
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,22.0,LAL,82.0,1.0,18.8,2.5,4.7,0.539,...,0.0,0.000,Los Angeles Lakers,62.0,20.0,0.756,0.0,117.3,109.5,6.84
1,Byron Scott,SG,24.0,LAL,76.0,62.0,28.8,6.7,13.0,0.513,...,0.0,0.000,Los Angeles Lakers,62.0,20.0,0.756,0.0,117.3,109.5,6.84
2,James Worthy,SF,24.0,LAL,75.0,73.0,32.7,8.4,14.5,0.579,...,780.0,0.009,Los Angeles Lakers,62.0,20.0,0.756,0.0,117.3,109.5,6.84
3,Jerome Henderson,C,26.0,LAL,1.0,0.0,3.0,2.0,3.0,0.667,...,0.0,0.000,Los Angeles Lakers,62.0,20.0,0.756,0.0,117.3,109.5,6.84
4,Kareem Abdul-Jabbar,C,38.0,LAL,79.0,79.0,33.3,9.6,16.9,0.564,...,780.0,0.173,Los Angeles Lakers,62.0,20.0,0.756,0.0,117.3,109.5,6.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,Mike Gale,PG,29.0,SAS,67.0,NaN,22.0,2.6,5.6,0.454,...,0.0,0.000,San Antonio Spurs,41.0,41.0,0.500,9.0,119.4,119.7,-0.24
17635,Paul Griffin,C,26.0,SAS,82.0,NaN,22.1,2.1,3.8,0.553,...,0.0,0.000,San Antonio Spurs,41.0,41.0,0.500,9.0,119.4,119.7,-0.24
17636,Sylvester Norris,C,22.0,SAS,17.0,NaN,11.1,1.1,2.5,0.419,...,0.0,0.000,San Antonio Spurs,41.0,41.0,0.500,9.0,119.4,119.7,-0.24
17637,Tim Bassett,PF,28.0,SAS,12.0,NaN,13.7,1.0,2.8,0.353,...,0.0,0.000,San Antonio Spurs,41.0,41.0,0.500,9.0,119.4,119.7,-0.24
17638,Wiley Peck,SF,22.0,SAS,52.0,NaN,12.1,1.4,3.3,0.432,...,0.0,0.000,San Antonio Spurs,41.0,41.0,0.500,9.0,119.4,119.7,-0.24

In [12]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS          543
MP            0
FG            0
FGA           0
FG%          54
3P            0
3PA           0
3P%        2695
2P            0
2PA           0
2P%          90
eFG%         54
FT            0
FTA           0
FT%         525
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [13]:
stats[pd.isnull(stats["3P%"])][["Player", "3PA"]]

                  Player  3PA
3       Jerome Henderson  0.0
5            Kurt Rambis  0.0
12     Pétur Guðmundsson  0.0
20           Kurt Rambis  0.0
23            Mike Smrek  0.0
...                  ...  ...
17626        Harry Davis  0.0
17627         Irv Kiffin  0.0
17635       Paul Griffin  0.0
17636   Sylvester Norris  0.0
17637        Tim Bassett  0.0

[2695 rows x 2 columns]

In [14]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                 Player  FTA
3      Jerome Henderson  0.0
144          John Coker  0.0
159        Jason Sasser  0.0
170     Adrian Caldwell  0.0
186        Bruno Šundov  0.0
...                 ...  ...
17444     Mark McNamara  0.0
17472       Luke Zeller  0.0
17525       Myron Brown  0.0
17547       Malcolm Lee  0.0
17621       Steve Novak  0.0

[525 rows x 2 columns]

In [15]:
stats = stats.fillna(0)

In [16]:
pd.isnull(stats).sum()

Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        0
3P         0
3PA        0
3P%        0
2P         0
2PA        0
2P%        0
eFG%       0
FT         0
FTA        0
FT%        0
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
Year       0
Pts Won    0
Pts Max    0
Share      0
Team       0
W          0
L          0
W/L%       0
GB         0
PS/G       0
PA/G       0
SRS        0
dtype: int64

In [17]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [18]:
predictors = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [19]:
train = stats[stats["Year"] < 2021]

In [20]:
test = stats[stats["Year"] == 2021]

In [21]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [22]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [23]:
predictions = reg.predict(test[predictors])

In [24]:
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [25]:
predictions

       predictions
697       0.012580
698      -0.017125
699       0.001854
700      -0.003149
701       0.010779
...            ...
17368    -0.014663
17369    -0.011401
17370     0.017738
17371    -0.019480
17372    -0.004300

[540 rows x 1 columns]

In [27]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [28]:
combination

                       Player  Share  predictions
697              Aaron Gordon    0.0     0.012580
698             Austin Rivers    0.0    -0.017125
699                   Bol Bol    0.0     0.001854
700          Facundo Campazzo    0.0    -0.003149
701          Greg Whittington    0.0     0.010779
...                       ...    ...          ...
17368             Patty Mills    0.0    -0.014663
17369  Quinndary Weatherspoon    0.0    -0.011401
17370                Rudy Gay    0.0     0.017738
17371               Tre Jones    0.0    -0.019480
17372              Trey Lyles    0.0    -0.004300

[540 rows x 3 columns]

In [29]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions
708             Nikola Jokić  0.961     0.167684
10082            Joel Embiid  0.580     0.174232
4204           Stephen Curry  0.449     0.152500
11657  Giannis Antetokounmpo  0.345     0.203523
1456              Chris Paul  0.138     0.077700
13767            Luka Dončić  0.042     0.155003
8876          Damian Lillard  0.038     0.127118
4089           Julius Randle  0.020     0.096280
4084            Derrick Rose  0.010     0.032923
14128            Rudy Gobert  0.008     0.096634

In [30]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.0026778310579217727

In [31]:
combination = combination.sort_values("Share", ascending=False)
combination["Rk"] = list(range(1,combination.shape[0]+1))

In [32]:
combination.head(10)

                      Player  Share  predictions  Rk
708             Nikola Jokić  0.961     0.167684   1
10082            Joel Embiid  0.580     0.174232   2
4204           Stephen Curry  0.449     0.152500   3
11657  Giannis Antetokounmpo  0.345     0.203523   4
1456              Chris Paul  0.138     0.077700   5
13767            Luka Dončić  0.042     0.155003   6
8876          Damian Lillard  0.038     0.127118   7
4089           Julius Randle  0.020     0.096280   8
4084            Derrick Rose  0.010     0.032923   9
14128            Rudy Gobert  0.008     0.096634  10

In [33]:
combination = combination.sort_values("predictions", ascending=False)
combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))

In [34]:
combination.head(10)

                      Player  Share  predictions   Rk  Predicted_Rk
11657  Giannis Antetokounmpo  0.345     0.203523    4             1
10082            Joel Embiid  0.580     0.174232    2             2
708             Nikola Jokić  0.961     0.167684    1             3
13767            Luka Dončić  0.042     0.155003    6             4
4917            James Harden  0.001     0.154496   13             5
4204           Stephen Curry  0.449     0.152500    3             6
4304            LeBron James  0.001     0.148890   15             7
4920            Kevin Durant  0.000     0.146913  531             8
7299            Jimmy Butler  0.000     0.129042  442             9
8876          Damian Lillard  0.038     0.127118    7            10

In [39]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps) / len(ps)

In [40]:
find_ap(combination)

0.7645833333333333

In [41]:
years = list(range(1980,2022))

In [42]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [43]:
sum(aps) / len(aps)

0.779792371889715

In [46]:
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending=False)
    combination["Rk"] = list(range(1,combination.shape[0]+1))
    combination = combination.sort_values("predictions", ascending=False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = combination["Rk"] - combination["Predicted_Rk"]
    return combination

In [48]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"] < 6].sort_values("Diff", ascending=False)

                    Player  Share  predictions  Rk  Predicted_Rk  Diff
7            Magic Johnson  0.263     0.168788   3             2     1
12922           Larry Bird  0.981     0.219826   1             1     0
10129    Dominique Wilkins  0.522     0.103937   2             4    -2
5346       Hakeem Olajuwon  0.247     0.084889   4             8    -4
4      Kareem Abdul-Jabbar  0.173     0.078248   5            15   -10

In [55]:
def backtest(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors], train["Share"])
        predictions = reg.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [56]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [57]:
mean_ap

0.779792371889715

In [59]:
all_predictions[all_predictions["Rk"] < 6].sort_values("Diff").head(10)

                 Player  Share  predictions  Rk  Predicted_Rk  Diff
9692          Glen Rice  0.117     0.039756   5            43   -38
6381         Steve Nash  0.839     0.052508   1            32   -31
1456         Chris Paul  0.138     0.077700   5            32   -27
15841       Joakim Noah  0.258     0.057424   4            24   -20
6399         Steve Nash  0.739     0.071148   1            20   -19
9960    Peja Stojaković  0.228     0.051264   4            21   -17
1004      Allen Iverson  0.270     0.057854   4            19   -15
4210   Chauncey Billups  0.344     0.074996   5            18   -13
1291         Jason Kidd  0.712     0.061094   2            15   -13
12964    Scottie Pippen  0.200     0.070658   5            17   -12

In [60]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0     1
13  0.059384  eFG%
29  0.029261  W/L%
18  0.028086   DRB
10  0.022673    2P
17  0.015295   ORB
21  0.013593   STL
22  0.011463   BLK
7   0.009858    3P
20  0.008547   AST
25  0.007888   PTS
12  0.004881   2P%
15  0.004004   FTA
5   0.003281   FGA
14  0.000529    FT
30  0.000283    GB
0   0.000227   Age
27  0.000145     W
1   0.000082     G
2  -0.000003    GS
32 -0.000070  PA/G
26 -0.000281  Year
28 -0.000331     L
33 -0.000618   SRS
31 -0.000731  PS/G
24 -0.003932    PF
3  -0.004504    MP
4  -0.005452    FG
16 -0.007110   FT%
8  -0.007664   3PA
9  -0.008231   3P%
23 -0.010294   TOV
11 -0.014710   2PA
19 -0.018765   TRB
6  -0.121728   FG%

In [64]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [76]:
stats_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [77]:
stats_ratios

            PTS       AST       STL       BLK    3P  Year
0      0.674727  0.313068  0.778905  1.341719  0.00   1.0
1      1.623563  0.983927  1.427992  0.447240  3.84   1.0
2      2.108523  1.207547  1.427992  2.236198  0.00   1.0
3      0.421705  0.000000  0.000000  0.000000  0.00   1.0
4      2.466972  1.565339  1.038540  3.577918  0.00   1.0
...         ...       ...       ...       ...   ...   ...
17634  0.669490  2.010657  2.120711  0.419118  0.00   1.0
17635  0.639059  1.283398  1.178173  1.257353  0.00   1.0
17636  0.243451  0.171120  0.235635  1.466912  0.00   1.0
17637  0.284026  0.513359  0.824721  0.000000  0.00   1.0
17638  0.355033  0.256680  0.353452  0.838235  0.00   1.0

[17639 rows x 6 columns]

In [78]:
stats[["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stats_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [79]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,GB,PS/G,PA/G,SRS,PTS_R,AST_R,TRB_R,STL_R,BLK_R,3P_R
0,A.C. Green,PF,22.0,LAL,82.0,1.0,18.8,2.5,4.7,0.539,...,0.0,117.3,109.5,6.84,0.674727,0.313068,1.218039,0.778905,1.341719,0.00
1,Byron Scott,SG,24.0,LAL,76.0,62.0,28.8,6.7,13.0,0.513,...,0.0,117.3,109.5,6.84,1.623563,0.983927,0.661978,1.427992,0.447240,3.84
2,James Worthy,SF,24.0,LAL,75.0,73.0,32.7,8.4,14.5,0.579,...,0.0,117.3,109.5,6.84,2.108523,1.207547,1.376914,1.427992,2.236198,0.00
3,Jerome Henderson,C,26.0,LAL,1.0,0.0,3.0,2.0,3.0,0.667,...,0.0,117.3,109.5,6.84,0.421705,0.000000,0.264791,0.000000,0.000000,0.00
4,Kareem Abdul-Jabbar,C,38.0,LAL,79.0,79.0,33.3,9.6,16.9,0.564,...,0.0,117.3,109.5,6.84,2.466972,1.565339,1.615225,1.038540,3.577918,0.00

In [80]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [81]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [82]:
mean_ap

0.7755541356869158

In [83]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [84]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,PS/G,PA/G,SRS,PTS_R,AST_R,TRB_R,STL_R,BLK_R,3P_R,NPos
0,A.C. Green,PF,22.0,LAL,82.0,1.0,18.8,2.5,4.7,0.539,...,117.3,109.5,6.84,0.674727,0.313068,1.218039,0.778905,1.341719,0.00,2
1,Byron Scott,SG,24.0,LAL,76.0,62.0,28.8,6.7,13.0,0.513,...,117.3,109.5,6.84,1.623563,0.983927,0.661978,1.427992,0.447240,3.84,12
2,James Worthy,SF,24.0,LAL,75.0,73.0,32.7,8.4,14.5,0.579,...,117.3,109.5,6.84,2.108523,1.207547,1.376914,1.427992,2.236198,0.00,8
3,Jerome Henderson,C,26.0,LAL,1.0,0.0,3.0,2.0,3.0,0.667,...,117.3,109.5,6.84,0.421705,0.000000,0.264791,0.000000,0.000000,0.00,0
4,Kareem Abdul-Jabbar,C,38.0,LAL,79.0,79.0,33.3,9.6,16.9,0.564,...,117.3,109.5,6.84,2.466972,1.565339,1.615225,1.038540,3.577918,0.00,0

In [85]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [87]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=500, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[28:], predictors)

In [88]:
mean_ap

0.8245430376957471

In [89]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[28:], predictors)

In [90]:
mean_ap

0.7955050716934953